/* 
    Document   : miCss
    Created on : 17/09/2011, 03:17:41 PM
    Author     : claudio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);
@import url(http://fonts.googleapis.com/css?family=Lobster);



root { 
    display: block;
}

.fadeOut{
    color:#A33;
}

.links{
    text-decoration: none;
}

.liAlineados, liPelicula{
    text-decoration: none;
    list-style: none;
    height:30px;
}

.liAlineados div, .liPelicula div{
    width:33%;
    float:left;
}   
.liPelicula div{
    width:25%;
    float:left;
}

.contenedorPelicula{
     width:100%;
    float:left;
}

.liTitulo div{
    width:10%;
    float:left;
}


#navbar {
text-align: Center;
width: 100%;
font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 24px;
height: 35px;
margin-top: 10px;
margin-bottom:10px;
text-transform: uppercase;
display:block;
}

#legend {
width: 100%;
font-family: 'Lobster', Arial, Helvetica, sans-serif;
color:#D5B433; 
font-weight: 300;
font-size: 26px;
height: 35px;
margin-top: 10px;
margin-bottom:10px;
display:block;
}

#navbar a { 
    padding:5px; 
    color:#8c8c8c; 
    text-decoration:none;
}
#navbar a:hover {
    color:#ae8b01; 
    
}

.longData{
    word-break: break-all;
}

#searchSocioContainer{
    display: none;
    left: 20%;
    position: absolute;
    top: 20%;
    width: 50%;
    background: #505050;
    filter: alpha(opacity=80);
    opacity: 0.9;
    padding:20px;
    
    
}


#h2 { 
    font-family:'Lobster', "Times New Roman", Times, serif; color:#d5b433; font-size:26px;} 

#searchSocioTicketContainer{
    width:40%;
    margin-right:3%;
}

#dataSocioTicketContainer{
    
}

