/* 
    Document   : miCss
    Created on : 17/09/2011, 03:17:41 PM
    Author     : claudio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.select{
	clear:none;
	float:left;
}
.gender{
width: 25%;
font-weight:100;
display:block;
float: left;
}

root { 
    display: block;
}

.fadeOut{
    color:#A33;
}

.links{
    text-decoration: none;
}

.liAlineados, liPelicula{
    text-decoration: none;
    list-style: none;
    height:30px;
}

.liAlineados div, .liPelicula div{
    width:33%;
    float:left;
}   
.liPelicula div{
    width:25%;
    float:left;
}

.contenedorPelicula{
     width:100%;
    float:left;
}

.liTitulo div{
    width:10%;
    float:left;
}


#navbar {
text-align: Center;
width: 100%;
font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 24px;
height: 35px;
margin-top: 10px;
margin-bottom:10px;
text-transform: uppercase;
display:block;
}

#legend {
width: 100%;
font-family: 'Lobster', Arial, Helvetica, sans-serif;
color:#D5B433; 
font-weight: 300;
font-size: 26px;
height: 35px;
margin-top: 10px;
margin-bottom:10px;
display:block;
}

#navbar a { 
    padding:5px; 
    color:#8c8c8c; 
    text-decoration:none;
}
#navbar a:hover {
    color:#ae8b01; 
    
}

.longData{
    word-break: break-all;
}

#searchSocioContainer{
    display: none;
    left: 20%;
    position: absolute;
    top: 20%;
    width: 50%;
    background: #505050;
    filter: alpha(opacity=80);
    opacity: 0.9;
    padding:20px;
    
    
}

#h2 { 
    font-family:'Lobster', "Times New Roman", Times, serif; color:#d5b433; font-size:26px;} 

#searchSocioTicketContainer{
    width:40%;
    margin-right:3%;
}

#dataSocioTicketContainer{
    
}

#closeButton{
    float:right;
    margin-right: 8px;
    border: solid 1px white;
    height:12px;
    width:12px;
}

#selectedSocio{
    width: 50%;
    float:left;
}

#paymentsOfSocio{
    width:37%;
    float:left;
}

.defaultText{
width: 100%;
color:#D5B433; 
font-weight: 300;
font-size: 20px;
height: 25px;
margin-top: 10px;
margin-bottom:10px;
display:block;   
}

.flash_good {   
background: #e5f2be;   
border:2px solid #bedf5d;   
padding:10px;   
font-weight:bold;  
}  
.flash_bad {   
background: #eccecf;  
border:2px solid #9e0b0f;  
padding:10px;  
font-weight:bold;  
}  
.flash_good img, .flash_bad img {  
float:right;  
}  

#asociarSociosColectivos{
    	display: inline;
	font-size: 110%;
	width: auto;
}

.flash_good, .flash_bad, .flash_warning, .flash_info { padding:6px 10px; color:white; display:block; margin:10px 0; }
.flash_good { background-color:#009900; }
.flash_bad { background-color:#AA0000; }
.flash_warning { background-color:#EE5F00; }
.flash_info { background-color:#0055AA; }

#gallery { float: left; width: 65%; min-height: 12em; } * html #gallery { height: 12em; } /* IE6 */
	.gallery.custom-state-active { background: #eee; }
	.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
	.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
	.gallery li a { float: right; }
	.gallery li a.ui-icon-zoomin { float: left; }
	.gallery li img { width: 100%; cursor: move; }

	#agrupado { float: right; width: 32%; min-height: 18em; padding: 1%;} * html #agrupado { height: 18em; } /* IE6 */
	#agrupado h4 { line-height: 16px; margin: 0 0 0.4em; }
	#agrupado h4 .ui-icon { float: left; }
	#agrupado .gallery h5 { display: none; }
        
        
        
#navbar {
text-align: Center;
width: 100%;
font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif;
font-weight: 300;
font-size: 24px;
height: 35px;
margin-top: 10px;
margin-bottom:10px;
text-transform: uppercase;
display:block;
}